<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/log-in" method="POST">
            <h2 class="msg"><%= messege %> </h2>
            <div class="form-control">
                <label for="username">Username or Email</label>
                <input type="email" name="email" id="username" >
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" >
            </div>
            
            <button class="btn" type="submit">Log In</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>